/*Formato general del sitio web*/

body{
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    /*background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);*/
    font-family: sans-serif;
    text-align: left;
    padding: 1rem;

}

header{
    border: 0.1rem solid black;
    display: flex;
    justify-content: space-between;
      
}

.inicio h1{
    position:relative;
    display: inline-block;
    text-align: center;
 
}


#logo{
    width: 10rem;
 
}

#logo:hover{
    transform: rotate(90deg);

}


ul{
    list-style: none;
    text-align:end;
}

li{
    position: relative;
    display: inline;

}

li a{
    text-decoration: none;
    color: black;
    font-size: 0.9rem;
    font-style: oblique;

}

li:hover{
    transform: scale(2);
}

footer{
    padding: 2rem;
    font-size: 0.7rem;
    font-style: italic;
    text-align: center;

}

/*Formato pagina Inicio*/





/*Formato pagina Tienda Web*/

.paginaTienda{
    position: relative;
    display:inline-block ;
}

h3{
    font-style: italic;
}

.productos{
    position:relative;
    display: inline;

}



#grilla_productos{
    display: grid;
    grid-template-areas:
    "cabecera cabecera cabecera"
    "productos productos productos"
    "footer footer footer";
    grid-template-columns: repeat(3, 1fr);
}

header{
    grid-area: cabecera;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 4rem;
}

@media screen and (max-width: 767px){
    header{
        flex-direction: column;
    }
}

.productos{
    grid-area: productos;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2rem;
    justify-items: center;

}

@media screen and (max-width: 992px){
    .productos{
        grid-template-columns: repeat(2, 1fr);
    }
    
}

@media screen and (max-width: 767px){
    .productos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}

.card{
    border: black 2px solid;
    background-color: grey;
    width: 16rem;
    text-align: center;
    margin-left: 30px;
    margin-top: 30px;
    margin-right: 30px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;


}
.card img{
    height: 12rem;
}

footer{
    grid-area: footer;
}


/*Formato pagina preguntas frecuentes*/

h2{
    color: firebrick;
    text-decoration: firebrick underline;
}

h4{

    font-style: italic;
}

/*Formato pagina contacto*/

form{
    background-color: gainsboro;
    

}