@charset "UTF-8";
/*variables de fuentes
$fuente-grande: 2rem;
$fuente-chica: 0.75rem;*/
/*variables para tamaños de las media queries
$pantalla-mediana: 768px;
$pantalla-grande: 992px;
$pantalla-xg: 1200px;*/
/*Formato general del sitio web*/
body {
  background-image: url("../img/abstract-background-of-shadows-palm-leaves-on-white-wall.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: sans-serif;
  text-align: left;
  padding: 1rem;
  margin: 0;
}

.top {
  background-color: black;
  color: white;
  font-weight: 300;
  font-size: 0.75rem;
  letter-spacing: 0.5rem;
  text-align: center;
}

header {
  min-height: 7rem;
  border: solid 1px black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-style: italic;
  margin-top: 1rem;
}

.inicio {
  display: flex;
  align-items: center;
}

.logo {
  width: 8rem;
  margin-right: 2rem;
}

/*.logo:hover{
    transform: rotate(90deg);

}*/
a {
  text-decoration: none;
  color: black;
  font-size: 0.75rem;
  font-style: italic;
  padding-right: 0.4rem;
}

a:hover {
  font-weight: bold;
}

.texto {
  margin-left: 1rem;
  margin-top: 0.5rem;
  margin-right: 1rem;
  padding: 0.5rem;
  text-align: center;
}

h1 {
  font-style: italic;
  text-align: center;
  margin-top: 1rem;
  font-size: 2rem;
}

@media screen and (max-width: 767px) {
  header {
    flex-direction: column;
  }
  nav {
    padding: 0.5rem 0rem;
  }
  .top {
    display: none;
  }
}
/*Formato footer*/
footer {
  padding: 2rem;
  font-size: 0.75rem;
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer p {
  display: flex;
}

.logo_footer {
  width: 6rem;
  margin-right: 2rem;
}

.img_footer {
  width: 6rem;
}

.logos_prestadores {
  display: flex;
}

/*Formato pagina Inicio*/
.carousel {
  margin-top: 1rem;
}

/*Formato pagina sobre nosotras*/
/*.texto{
    margin-left: 1rem;
    margin-top: 0.5rem;
    margin-right: 1rem;
    padding: 0.5rem;
    text-align: center;
}*/
/*Formato pagina Tienda Web*/
h4 {
  font-style: italic;
  text-align: center;
  margin-top: 1rem;
}

#grilla_productos {
  display: grid;
  grid-template-areas: "cabecera cabecera cabecera cabecera" "productos productos productos productos" "footer footer footer footer";
  grid-template-columns: repeat(4, 1fr);
}

header {
  grid-area: cabecera;
}

@media screen and (max-width: 767px) {
  header {
    flex-direction: column;
  }
}
.productos {
  grid-area: productos;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 2rem;
  justify-items: center;
}

@media screen and (max-width: 992px) {
  .productos {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 767px) {
  .productos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.card {
  border: black 1px solid;
  /* background-color: rgb(255, 208, 170);*/
  width: 14rem;
  text-align: center;
  margin-left: 30px;
  margin-top: 30px;
  margin-right: 30px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card_imagen {
  height: 12rem;
}

.card_imagen:hover {
  transform: scale(1.15);
}

.boton:hover {
  font-weight: bold;
}

.card_titulo {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: bold;
}

footer {
  grid-area: footer;
}

/*Formato pagina preguntas frecuentes*/
h2 {
  color: black;
  text-decoration: black;
  text-align: center;
}

h4 {
  font-style: italic;
}

h6 {
  font-style: italic;
}

/*Formato pagina contacto*/
.botones {
  padding: 0.5rem;
}

/*# sourceMappingURL=styles.css.map */
