/*Formato pagina preguntas frecuentes*/

/*h2{
    color: black;
    text-decoration: black;
    text-align: center;
}*/

h2{
    font-size: 1.5rem;
    font-style: italic;
}

h3{
    font-size: 1.2rem;
    font-style: italic;
}
