/*Formato general del sitio web*/
@import url('https://fonts.googleapis.com/css2?family=Klee+One&display=swap');

body{
    background-image: url("../img/abstract-background-of-shadows-palm-leaves-on-white-wall.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: left;
    padding: 1rem;
    margin: 0;
    font-family: 'Klee One', cursive;
    font-weight: 200;

}

.top{
    background-color: black;
    color: white;
    font-weight: 300;
    font-size: $fuente-xxs;
    letter-spacing: 0.5rem;
    text-align: center;
}

header{
    min-height: 7rem;
    border: solid 1px black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: italic;
    margin-top: 1rem;
    
   
}


.inicio{
    display: flex;
    align-items: center;

}

.logo{
    width: $imagen-m;
    margin-right: 2rem;
 
}

/*.logo:hover{
    transform: rotate(90deg);

}*/



/*a{
    text-decoration: none;
    color: black;
    font-size: 0.75rem;
    font-style: italic;
    padding-right: 0.4rem;
}*/

.nav-link{
    text-decoration: none;
    color: black;
    font-size: $fuente-xs;
    font-style: italic;
    font-weight: 300;
    padding-right: 0.4rem;
    justify-content: space-around;

}

a:hover{

    font-weight: bold;
    color: blue;
}

.texto{
    padding: 0.5rem;
    text-align: center;
    @include margenes;
}

h1{
    font-style: italic;
    text-align: center;
    margin-top: 1rem;
    font-size: $fuente-xg;
    
}

h2{
    font-size: $fuente-g;
    font-style: italic;
}

h3{
    font-size: $fuente-m;
    font-style: italic;
}

@media screen and (max-width: 767px){
    header{
        flex-direction: column;
    }

    nav{
        padding: 0.5rem 0rem;
    }

    .top{
        display: none;
    }

    footer{
        flex-direction: column;
    }
}


/*Formato footer*/

footer{
    padding: 2rem;
    font-size: $fuente-xxs;
    font-style: italic;
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    
    
}

footer p{
    display: flex;
    
}


.logo_footer{
    width: $imagen-s;
    margin-right: 2rem;
 
}

.img_footer{
    width: $imagen-s;
}

.logos_prestadores{
    display:flex;
    justify-content: end;
    
}

.leyenda{
    display: flex;
    padding: 1rem;
}


/*Formato pagina Inicio*/

.carousel{
    margin-top: 1rem;
}