/* CSS del ejemplo profe*/

a{
    text-decoration: none;
    color: white;

}

ul{
    list-style: none;
}

img{
    max-width: 100%;

}



/* Desktop first*/

/*GRILLA PRINCIPAL*/

#grilla-profe{
    display: grid;
    grid-template-areas: 
    "cabecera cabecera cabecera"
    "productos productos productos"
    "banner banner banner"
    "footer footer footer";

    grid-template-columns: repeat(3, 1fr);
    background-color: green;
}

/*header o cabecera*/
#header-profe{
    grid-area: cabecera;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 4rem;
}

@media screen and (max-width: 767px){
    #header-profe{
        flex-direction: column;
    }
}

.logo{
    height: 8rem;
    
    transform: rotate(100deg);
    /*rotate solo recibe valores en deg*/
    /*rotatex gira sobre el eje x*/
    /*rotatey gira sobre el eje y*/
}

.logo:hover{
    transform: scale(2);
}

#navegacion-profe{
    display: flex;
    gap: .8rem;
}

@media screen and (max-width: 399px) {
    #navegacion-profe{
        flex-direction: column;
    }
    
}

#navegacion-profe li{
    background-color: blue;
    padding: 0.3rem 1rem;

}

#navegacion-profe li:hover{
    background-color: greenyellow;
    height: 200px;
}

/*productos*/
#productos-profe{
    grid-area: productos;
}

#productos-profe h2,
#productos-profe p{
    text-align: center;
}

.padre-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2rem;
    justify-items: center;
}

@media screen and (max-width: 992px){
    .padre-cards{
        grid-template-columns: repeat(2, 1fr);
    }
    
}

@media screen and (max-width: 767px){
    .padre-cards{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}

.card-profe{
    width: 16rem;
    border: 2px grey solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;

}

.card-profe img{
    height: 12rem;

}

/*banner*/
#banner-profe{
    grid-area: banner;
    background-color: #eaeaea;
    margin-top: 4rem;
    padding: 2rem;
}

#banner-profe h2{
    text-align: center;
}

.padre-banner{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

@media screen and (max-width: 992px){
    .padre-banner{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 767px){
    .padre-banner{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
}


.banner-caracteristicas{
    display: flex;
    flex-direction: column;
}

/*footer*/
#footer{
    grid-area: footer;
}


/*CODIGO DE TRANSFORMACIONES*/


.caja-negra{
    height: 200px;
    width: 200px;
    background-color: black;
    /*translate recibe dos valores*/
    /*transform: translate(10px, 20px);*/

    /*translatex solo mueve en el eje x*/
    /*translatey solo mueve en el eje y*/

    /*Scale solo toma dos valores, el primero es el 
    ancho, el segundo es el alto*/

    /*transform: scale(2,1);*/

    /*skew recibe dos valores*/
    /*transform: skew(30deg,30deg);*/


    transition: height 4s;

}

.caja-negra:hover{
    height: 400px;
}

/*animacion con keyframes*/

.barra-progreso{
    margin: 30px;
    width: 100%;
    border: solid 1px ;
    height: 7px;
}

.barra-completando{
border: solid 1px;
height: 6px;
width: 100%;
background-color: red;

/* Indicar que la animacion funcione*/

animation: cargando 5s linear;
}

/*el identifier de las keyframes es el nombre de la animacion*/
@keyframes cargando {
    0%{
        width: 0
    }

    100%{
        width: 100%;
    }
    
}